#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#nav a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -2em;
    width: 13em;
}

#logout {
    height: 40px;
    color: black;
    background-color:white;
    width: 10em;
   
}

.Button {
    margin-top: 5%;

}
